<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1> 안녕하세요 테스트 페이지 입니다 </h1>
    {% for post in posts %}
    {{ post.author }}
    {{ post.comment}}
    <a href="{% url 'delete' post_id=post.pk %}" class="btn">삭제</a>
    <a href="{% url 'modify' post_id=post.pk %}" class="btn">수정</a>
    <br><br>
    {% endfor %}

</body>
</html>